In [2]:
import pandas as pd

In [10]:
df1 = pd.read_csv('distance500.csv')
df2 = pd.read_csv('distance1000.csv')
df3 = pd.read_csv('distance1500.csv')

In [12]:
df= df1.append(df2)

/tmp/ipykernel_682/3748668138.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df= df1.append(df2)

In [16]:
df= df.append(df3)

/tmp/ipykernel_682/1744003080.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df= df.append(df3)

In [17]:
df

     Unnamed: 0              0
0             0           None
1             1           None
2             2           None
3             3           None
4             4           None
..          ...            ...
495         495   1826.3797001
496         496  1414.47375492
497         497   1564.4254134
498         498  1320.65787647
499         499  1422.69696453

[1500 rows x 2 columns]